<mat-card class="coin-card">
  <mat-card-header style="display: flex; align-items: baseline; justify-content: space-between;">
    <div>
      <img [src]="coin.image_url ? coin.image_url : 'assets/img/noname.png'" alt="logo" class="logo" />

      <strong>{{coin.symbol}}({{coin.category}})</strong>
    </div>
    <div style="margin-bottom: 10px;"> <!-- Individual Row Checkbox -->
      <mat-checkbox (change)="toggleItem(coin)" [checked]="selectionService.isSelected(coin)">

      </mat-checkbox>
    </div>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-actions>

    <!-- BINANCE -->
    <a *ngIf="coin.binanceExch" [href]="coin.binanceExch" target="_blank">
      <img src="assets/icons/binance-black.svg" alt="Binance" class="round-image" />
    </a>
    <!-- BYBIT -->
    <a *ngIf="coin.bybitExch" [href]="coin.bybitExch" target="_blank">
      <img src="assets/icons/bybit.svg" alt="Bybit" class="round-image" />
    </a>
  </mat-card-actions>
</mat-card>