<div class="card-container mat-elevation-z6">
  <!-- LOGO -->
  <div class="logo"><img [src]="coin.image_url ? coin.image_url : 'assets/img/noname.png'" alt="logo" /></div>
  <!-- SYMBOL -->
  <div class="symbol-name">{{coin.symbol}}</div>
  <!-- CHECKBOX -->
  <div><mat-checkbox (change)="toggleItem(coin)" [checked]="selectionService.isSelected(coin)"></mat-checkbox></div>
  <!-- BINANCE LINK -->
  <div *ngIf="coin.binanceExch" class="exchange-link"><a [href]="coin.binanceExch" target="_blank">
      <img src="assets/icons/binance-black.svg" alt="Binance" class="round-image" />
    </a></div>
  <!-- BYBIT LINK -->
  <div *ngIf="coin.bybitExch" class="exchange-link"><a [href]="coin.bybitExch" target="_blank">
      <img src="assets/icons/bybit.svg" alt="Bybit" class="round-image" />
    </a></div>
</div>
