.coin-card{
  width: 190px;
  margin:10px;
}

.logo {
  width: 50px; /* Set your desired width */
  height: 50px; /* Set your desired height */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
  margin: auto;

}
.round-image {
  width: 23px; /* Set your desired width */
  height: 23px; /* Set your desired height */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
  margin: auto;

}
.small-icon-button {
  width: 33px;   /* Adjust the width */
  height: 33px;  /* Adjust the height */
  padding: 0;    /* Adjust padding */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;
}
