<div class="container">
  <div style="display: flex; flex-direction: row; justify-content: space-between;">
    <!-- GROUP-1 -->
    <div style="display: flex; flex-direction: row; align-items: baseline; gap: 10px;">
      <!-- FILTER INPUT -->
      <div>
        <form [formGroup]="form" *ngIf="form">
          <!-- Symbol -->
          <mat-form-field appearance="fill">
            <mat-icon matPrefix>filter_list</mat-icon>
            <mat-label>Filter</mat-label>
            <input type="text" matInput formControlName="symbol" [matAutocomplete]="auto" (input)="filterSymbols()"
              tabindex="-1" />
            <button mat-icon-button matSuffix class="small-icon-button" (click)="clearInput()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let suggestion of filteredSymbols" [value]="suggestion">
                {{ suggestion }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>

      <!-- ADD BUTTON -->
      <button mat-mini-fab (click)="addWorkingSymbol()">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <!-- GROUP-2 -->
    <div style="display: flex; flex-direction: row; align-items: baseline; gap: 10px;">
      <!-- SELECT CHECKBOX -->
      <button mat-raised-button class="panel-button">
        <mat-checkbox [checked]="selectionService.hasValue() && isAllSelected()" (change)="toggleAll()"
          [indeterminate]="selectionService.hasValue()&& !isAllSelected()"></mat-checkbox>
        <mat-icon svgIcon="check"></mat-icon>
      </button>

      <!-- OPEN IN TV BUTTON -->
      <button mat-raised-button class="panel-button" (click)="onOpenTradingview()">
        <mat-icon svgIcon="tv"></mat-icon>
        Open Tradingview
      </button>

      <!-- OPEN IN COINGLASS BUTTON -->
      <button mat-raised-button class="panel-button" (click)="onOpenCoinglass()">
        <mat-icon svgIcon="coinglass"></mat-icon>
        Open Coinglass
      </button>

      <!-- TV BUTTON -->
      <button mat-raised-button class="panel-button" (click)="onOpenSingleTradingview()">
        <mat-icon svgIcon="tv-white" style="margin-left: 6px;"></mat-icon>
      </button>

      <!-- CLOSE ALL WINDOWS -->
      <button mat-raised-button class="panel-button" (click)="onCloseAllWindows()">
        <mat-icon svgIcon="close" style="margin-left: 6px;"></mat-icon>
      </button>

      <!-- DELETED -->
      <button mat-raised-button class="panel-button" (click)="onDelete()">
        <mat-icon svgIcon="delete" style="margin-left: 6px;"></mat-icon>
      </button>
    </div>
  </div>


  <app-work-field></app-work-field>
</div>
