<div class="controls-container">

  <!-- FILTER BOX -->
  <div>
    <mat-form-field appearance="outline" class="filter-box">
      <mat-icon matPrefix>filter_list</mat-icon>
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="Search">
      <button mat-icon-button matSuffix class="small-icon-button" (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <h1>Coins Provider</h1>
  </div>


  <div style="display: flex; flex-direction: row; gap: 10px">
    <!-- MOVE TO SORTER TABLE  -->
    <button mat-raised-button [disabled]="buttonsDisabled" (click)="onMoveSelectedToSorterTable()" color="primary"
      matTooltip="Move to Sorter Table" matTooltipPosition="above">
      <mat-icon style="margin-left: 5px;" svgIcon="send-from"></mat-icon>
    </button>
    <!-- REFRESHMENT PROCEDURE -->
    <button mat-raised-button (click)="onRunRefreshmentProcedure()" matTooltip="Run Refreshment Procedure"
      matTooltipPosition="above">
      <mat-icon class="rotate" style="margin-left: 5px;" [ngClass]="{ 'rotate': isRotating }">sync</mat-icon>
    </button>

    <!-- MOVE TO COIN TABLE -->
    <button mat-raised-button [disabled]="buttonsDisabled" (click)="onMoveSelectedToCoinTable()" color="primary"
      matTooltip="Move to Coin Table" matTooltipPosition="above">
      <mat-icon style="margin-left: 5px;" svgIcon="send-to"></mat-icon>
    </button>

    <!-- MOVE TO BLACK LIST TABLE -->
    <button mat-raised-button [disabled]="buttonsDisabled" (click)="onMoveSelectedToBlackListTable()"
      matTooltip="Move to Black List" matTooltipPosition="above" color="accent">
      <mat-icon style="margin-left: 5px;" svgIcon="black-list"></mat-icon>
    </button>

  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12 coin-provider-table">

    <!-- SYMBOL -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
      <td mat-cell *matCellDef="let element" class="symbol-cell">
        <img [src]="element.image_url ? element.image_url : 'assets/img/noname.png'" alt="logo" class="round-image" />

        {{element.symbol}}
      </td>
    </ng-container>

    <!-- CATEGORY -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Category
      </th>
      <td mat-cell *matCellDef="let element"> <b>{{element.category}}</b> </td>
    </ng-container>

    <!-- COINGECKO -->
    <ng-container matColumnDef="coinGecko">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        CoinGecko
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.coinGeckoMissing">
          <mat-icon>check</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- SANTIMENT -->
    <ng-container matColumnDef="santiment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Santiment
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="!element.santimentMissing">
          <mat-icon style="cursor: pointer;" (click)="onSantimentClick(element)">check</mat-icon>
        </ng-container>
      </td>
    </ng-container>

    <!-- STATUS -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Status
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container>
          {{element.status}}
        </ng-container>
      </td>
    </ng-container>

    <!-- LINKS -->
    <ng-container matColumnDef="links">
      <th mat-header-cell *matHeaderCellDef> Links </th>
      <td mat-cell *matCellDef="let element">
        <!-- TRADING VIEW -->
        <a *ngIf="element.tvLink" [href]="element.tvLink" target="_blank">
          <img src="assets/icons/tv.svg" alt="TradingView" class="round-image" />
        </a>
        <!-- COIN GLASS -->
        <a *ngIf="element.cgLink" [href]="element.cgLink" target="_blank">
          <img src="assets/icons/coinglass.svg" alt="Coinglass" class="round-image" />
        </a>
        <!-- BINANCE -->
        <a *ngIf="element.binanceExch" [href]="element.binanceExch" target="_blank">
          <img src="assets/icons/binance-black.svg" alt="Binance" class="round-image" />
        </a>
        <!-- BYBIT -->
        <a *ngIf="element.bybitExch" [href]="element.bybitExch" target="_blank">
          <img src="assets/icons/bybit.svg" alt="Bybit" class="round-image" />
        </a>
      </td>
    </ng-container>

    <!-- DESCRIPTION -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onOpenDescriptionModalDialog(element)" class="clickable-icon">details</mat-icon>
      </td>
    </ng-container>

    <!-- EDIT -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onEdit(element)" class="clickable-icon" svgIcon="edit"></mat-icon>
      </td>
    </ng-container>

    <!-- ARCHIVE -->
    <!-- <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onMoveToCoins(element)" class="clickable-icon" svgIcon="flare" matTooltip="Move to Archive"
          [matTooltipPosition]="tooltipPosition"></mat-icon>
      </td>
    </ng-container> -->


    <!-- CHECKBOX-->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <!-- Select All Checkbox -->
        <mat-checkbox [checked]="selection.hasValue() && isAllSelected()" (change)="toggleAll()"
          [indeterminate]="selection.hasValue()&&!isAllSelected()"></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <!-- Individual Row Checkbox -->
        <mat-checkbox (change)="onDataToggled(element)" [checked]="selection.isSelected(element)">
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons></mat-paginator>
