
.container{
  width: 98%;                /* Set the width to 97% */
  min-width: 98%;            /* Ensure the width is at least 97% */
  margin: 1em auto;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 150px;
 }

 .coin-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.chart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px; /* Adjust the gap between charts as needed */
  padding: 0px; /* Optional padding around the charts */
}
.app-santiment-chart {
  width: 100%;
  height: 400px; /* Adjust the height as needed */
}
