.container {
  display: flex;
  flex-direction: row;
  justify-content:  space-evenly;
  padding-top: 1em;
}
.chart{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: auto;
}
