<div class="controls-container">

  <!-- FILTER BOX -->
  <div>
    <mat-form-field appearance="outline" class="filter-box">
      <mat-icon matPrefix>filter_list</mat-icon>
      <mat-label>Filter</mat-label>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event)" placeholder="Search">
      <button mat-icon-button matSuffix class="small-icon-button" (click)="clearInput()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div>
    <h1>Coins</h1>
  </div>
  <div>
    <button mat-raised-button (click)="onAdd()" style="margin-right: 20px; height: 45px;">Add Coin</button>
  </div>
</div>

<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12 alerts-at-work-table">

    <!-- SYMBOL -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol</th>
      <td mat-cell *matCellDef="let element" class="symbol-cell">
        <img [src]="'assets/logo/' + element.logo" alt="logo" class="round-image" />
        {{element.symbol}}
      </td>
    </ng-container>

    <!-- CATEGORY -->
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Category
      </th>
      <td mat-cell *matCellDef="let element"> <b>{{element.category}}</b> </td>
    </ng-container>


    <!-- LINKS -->
    <ng-container matColumnDef="links">
      <th mat-header-cell *matHeaderCellDef> Links </th>
      <td mat-cell *matCellDef="let element">
        <!-- TRADING VIEW -->
        <a *ngIf="element.tvLink" [href]="element.tvLink" target="_blank">
          <img src="assets/icons/tv.svg" alt="TradingView" class="round-image" />
        </a>
        <!-- COIN GLASS -->
        <a *ngIf="element.cgLink" [href]="element.cgLink" target="_blank">
          <img src="assets/icons/coinglass.svg" alt="Coinglass" class="round-image" />
        </a>
        <!-- BINANCE -->
        <a *ngIf="element.exchBiLink" [href]="element.exchBiLink" target="_blank">
          <img src="assets/icons/binance-black.svg" alt="Binance" class="round-image" />
        </a>
        <!-- BYBIT -->
        <a *ngIf="element.exchByLink" [href]="element.exchByLink" target="_blank">
          <img src="assets/icons/bybit.svg" alt="Bybit" class="round-image" />
        </a>
      </td>
    </ng-container>

    <!-- EDIT -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onEdit(element)" class="clickable-icon" svgIcon="edit"></mat-icon>
      </td>
    </ng-container>

    <!-- DELETE -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon (click)="onDelete(element)" class="clickable-icon" svgIcon="delete" matTooltip="Delete Coin"
          [matTooltipPosition]="tooltipPosition"></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 100]" showFirstLastButtons></mat-paginator>