/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chart{
  height: 450px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}

.mat-mdc-checkbox .mdc-form-field {
  color: black;
}


.mat-mdc-checkbox-checked .mat-checkbox-inner-container {
  border-color: #2ecc71;
}
.mat-mdc-checkbox-checked .mdc-checkbox-inner-container {
  border-color: red;
}
/*
.mdc-checkbox .mdc-checkbox__native-control .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
  border-color: black;

} */
