/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.chart{
  height: 450px;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.no-scroll {
  overflow: hidden;
}


