/* Main container */
.coin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.coin-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

.coin-category {
  font-size: 1.4em;
  color: #777;
}

/* Properties Section */
.properties {
  display: flex;
  width: 100%;
  gap: 20px;
  margin-bottom: 20px;
}

.column {
  flex: 1;
}

.property {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}




/* Footer */
.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer img {
  width: 24px;
  height: 24px;
}

.label {
  font-weight: bold;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 5px;
}

.icon {
  width: 30px; /* Set size for consistency */
  height: 30px;
  margin-right: 5px;
  vertical-align: middle;
}

.value {
  display: inline-block;
}

.round-image {
  width: 35px; /* Set your desired width */
  height: 35px; /* Set your desired height */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover;

}
